SassにはSASS記法とSCSS記法の2種類の書き方があります。Progateでは主流であるScss記法を扱っていきます。
また、ファイル拡張子も「.css」ではなく「.scss」となりますので注意してください。

&の使い方
.li{
    color:red+
}
 &:hover{
      opacity: 1;
    }
}

=======================================================================================================

変数の使い方

$progate-color:#7579a3;


  .title {
    font-size: 32px;
    margin-bottom: 5px;
    color:$progate-color;
  }

======================================================================================================

mixin
いくつかのコードを1つにまとめて、複数箇所で簡単に呼び出すことができる機能です。
@mixin mixin名 { コード }」とすることで定義できます。
使用したいSassファイルの中で「@include mixin名」とすることで使うことができます

@mixin circle{
  display: inline-block;
  border-radius: 50%;
  margin-left: 10px;
  text-align: center;
  background-color: #888888;
}

.small {
  // 定義したcircleを呼び出してください
  @include circle;   ←@mixinで定義した内容がそのまま入る
  
  width: 34px;
  height: 34px;
}


=============================================================================================================================

mixinには色などの情報を「引数（ひきすう）」として渡すことができます。
引数はプログラミング全般でよく使われ、追加情報のような役割を果たします。

@mixin circle($color) {
  display: inline-block;
  border-radius: 50%;
  margin-left: 10px;
  text-align: center;
  // 引数$colorを用いて背景色を変更してください
  background-color:$color;
}

.small {
  // 引数に「#20efae」を指定してください
  @include circle(#20efae);
  width: 34px;
  height: 34px;

}

==================================================================================================================================

関数を利用すると「特定の色から50%明るい色を使う」といったことが簡単にできます。

color:darken(色,50%);
color:lighten(色,50%);
color:rgba(色,0.5);


最初にこうやって定義しておいて、
$blue: #0ac4ff;
$pink: #fd6eb6;


こうやる
.blue2 {
  // 色を$blue、値を10%としてdarken関数を用いてください
  background-color:darken($blue,10%);
  
}

=================================================================================================================================

import

外部のファイルを読み込む場合には、「@import "＿ファイル名"」とします。
読み込むファイル名には＿（アンダーバー）つけるの忘れずに！


_example.scssを読み込む

@import"_example.scss" ;
もしくは　@import"example";　　←


==================================================================================================================================

